#loginForm {
  width:400px;
  margin-left:auto;
  margin-right:auto;
}

#modalWait .modal-dialog  {width:300px;}

.container-full {
  position: absolute;
  width:100%;
  height:100%;
}
.spinner {
    position: absolute;
    width:100%;
    height:100%;

    background:url("../img/spinner.gif") no-repeat center;
}
